config BCM_NAT
        bool "Broadcom fast NAT support"
        depends on NF_CONNTRACK && NF_NAT && !RPS
        default y
        help
                This helps packets pass through netfilter faster when a packet
                is an established or reply traffic.
