#
# exclude enerated files from all
#
*.o
*.a
*.a.*
*.o.*
*.la
*.la.*
*.so
*.so.*
*.dep
*.deps
*.depend
*.pc
*.orig
*.rej
*.lo
*.gdb
*.tab.c
*.tab.h
*.moc
*.tmp
.sgbuilt_user
.libs
.copts_*
lex.*.c
stamp-h1
zconf.hash.c
lkc_defs.h
libtool
autom4te.cache
autom4te.cache/*
config.h.in~
config.log
configure.log
config.status
filesystem
fulldump

# others
/autoconf.h
/config.arch
/config/.config
/config/.config.old
/config/autoconf.h
/sdk_version.h
/version
/linux
/romfs
/romfs/*
/images
/images/*
/dev
/dev/*
/tools/bin/*
/tools/mkimage/mkimage
/tools/mksquash_xz-4.0/mksquashfs
/tools/mksquash_xz-4.0/unsquashfs
/tools/mksquash_lzma-3.2/lzma443/C/7zip/Compress/LZMA_Alone/lzma_alone
/tools/mksquash_lzma-3.2/lzma443/C/7zip/Compress/LZMA_C/lzmadec
/tools/mksquash_lzma-3.2/squashfs3.2-r2/squashfs-tools/mksquashfs
/tools/mksquash_lzma-3.2/squashfs3.2-r2/squashfs-tools/unsquashfs
/tools/sstrip/sstrip
/etc/compile-date
/etc/default/RT2860_default_novlan
/etc/scripts/config.sh
/etc/Wireless/rf.bin
/etc/Wireless/RT2860/RT2860.dat
/lib/.config*
/lib/lib
/lib/lib/*
/lib/shared
/lib/shared/*

#
# exclude enerated files from libs
#
libext/libssl/openssl-1.0.1/Makefile
libext/libssl/openssl-1.0.1/Makefile.bak
/libext/libiconv/libcharset/libext/Makefile
/libext/libiconv/lib/aliases_aix_sysaix.h
/libext/libiconv/libcharset/config.h
/libext/libiconv/preload/Makefile
/libext/libiconv/man/Makefile
/libext/libiconv/po/Makefile
/libext/libiconv/po/Makefile.in
/libext/libcurl/curl-config
/libext/libcurl/Makefile.in
/libext/libcurl/configure
/libext/libcurl/docs/examples/Makefile
/libext/libcurl/docs/libcurl/Makefile
/libext/libcurl/docs/libcurl/libcurl-symbols.3
/libext/libcurl/docs/Makefile
/libext/libcurl/include/curl/Makefile
/libext/libcurl/include/Makefile
/libext/libcurl/libext/curl_config.h
/libext/libcurl/include/curl/curlbuild.h
/libext/libcurl/libcurl.pc
/libext/libcurl/libext/Makefile
/libext/libcurl/libtool
/libext/libcurl/Makefile
/libext/libcurl/*/Makefile
/libext/libcurl/*/*/Makefile
/libext/libcurl/packages/AIX/Makefile
/libext/libcurl/packages/AIX/RPM/Makefile
/libext/libcurl/packages/EPM/curl.list
/libext/libcurl/packages/EPM/Makefile
/libext/libcurl/packages/Linux/Makefile
/libext/libcurl/packages/Linux/RPM/Makefile
/libext/libcurl/packages/Makefile
/libext/libcurl/packages/Solaris/Makefile
/libext/libcurl/packages/vms/Makefile
/libext/libcurl/packages/Win32/cygwin/Makefile
/libext/libcurl/packages/Win32/Makefile
/libext/libcurl/src/curl_config.h
/libext/libcurl/src/Makefile
/libext/libcurl/tests/configurehelp.pm
/libext/libcurl/tests/data/Makefile
/libext/libcurl/tests/libtest/Makefile
/libext/libcurl/tests/Makefile
/libext/libcurl/tests/server/Makefile
/libext/libcurl/tests/unit/Makefile
/libext/libcurl/tests/certs/scripts/Makefile
/libext/libcurl/curl-config
/libext/libcurl/docs/Makefile
/libext/libcurl/docs/examples/Makefile
/libext/libcurl/docs/libcurl/Makefile
/libext/libcurl/docs/libcurl/opts/Makefile
/libext/libcurl/include/Makefile
/libext/libcurl/include/curl/Makefile
/libext/libcurl/libext/Makefile
/libext/libcurl/libcurl.pc
/libext/libcurl/libtool
/libext/libcurl/packages/AIX/Makefile
/libext/libcurl/packages/AIX/RPM/Makefile
/libext/libcurl/packages/EPM/Makefile
/libext/libcurl/packages/EPM/curl.list
/libext/libcurl/packages/Linux/Makefile
/libext/libcurl/packages/Linux/RPM/Makefile
/libext/libcurl/packages/Makefile
/libext/libcurl/packages/Solaris/Makefile
/libext/libcurl/packages/Win32/Makefile
/libext/libcurl/packages/Win32/cygwin/Makefile
/libext/libcurl/packages/vms/Makefile
/libext/libcurl/src/Makefile
/libext/libxml2/configure
/libext/libxml2/Makefile
/libext/libxml2/doc/Makefile
/libext/libxml2/doc/devhelp/Makefile
/libext/libxml2/doc/examples/Makefile
/libext/libxml2/example/Makefile
/libext/libxml2/python/Makefile
/libext/libxml2/python/tests/Makefile
/libext/libxml2/xstc/Makefile
/libext/libneon/config.h
/libext/libneon/configure
/libext/libneon/Makefile
/libext/libevent/config.h
/libext/libevent/configure
/libext/libevent/include/event2/event-config.h
/libext/libevent/include/Makefile
/libext/libevent/libevent_openssl.pc
/libext/libevent/libevent.pc
/libext/libevent/libevent_pthreads.pc
/libext/libevent/libtool
/libext/libevent/Makefile
/libext/libevent/*/Makefile
/libext/libevent/Makefile.in
/libext/libevent/*/Makefile.in
/libext/libevent/sample/Makefile
/libext/libevent/test/Makefile
/libext/libiconv/tests/Makefile
/libext/libiconv/srclib/Makefile
/libext/libiconv/src/Makefile
/libext/libiconv/libext/config.h
/libext/libiconv/libext/Makefile
/libext/libiconv/config.h
/libext/libiconv/configure
/libext/libiconv/Makefile
/libext/libiconv/libtool
/libext/libiconv/preload/libtool
/libext/libiconv/libcharset/libtool
/libext/libiconv/libcharset/Makefile
/libext/libiconv/libcharset/configure
/libext/libiconv/libcharset/config.h.in
/libext/libiconv/libcharset/include/localcharset.h.build.in
/libext/libupnp/configure
/libext/libupnp/Makefile
/libext/libupnp/Makefile.in
/libext/libupnp/docs/dist/Makefile
/libext/libupnp/docs/dist/Makefile.in
/libext/libupnp/ixml/Makefile
/libext/libupnp/ixml/Makefile.in
/libext/libupnp/ixml/doc/Makefile
/libext/libupnp/ixml/doc/Makefile.in
/libext/libupnp/threadutil/Makefile
/libext/libupnp/threadutil/Makefile.in
/libext/libupnp/upnp/Makefile
/libext/libupnp/upnp/Makefile.in
/libext/libupnp/upnp/doc/Makefile
/libext/libupnp/upnp/doc/Makefile.in
/libext/libupnp/upnp/sample/Makefile
/libext/libupnp/upnp/sample/Makefile.in
/libext/libnfnetlink/configure
/libext/libnfnetlink/Makefile
/libext/libnfnetlink/Makefile.in
/libext/libnfnetlink/src/Makefile
/libext/libnfnetlink/utils/Makefile
/libext/libnfnetlink/include/Makefile
/libext/libnfnetlink/include/libnfnetlink/Makefile
/libext/libusb-1.0/Makefile
/libext/libusb-1.0/doc/Makefile
/libext/libusb-1.0/examples/Makefile
/libext/libusb-1.0/libusb/Makefile
/libext/libusb-1.0/tests/Makefile
/libext/libpcap/Makefile
/libext/libpcap/Mkaefile.in
/libext/libpcap/configure
/libext/libnl/configure
/libext/libnl/lib/libnl.a
/libext/libtalloc/mips.txt
/libext/libmicrohttpd/Makefile
/libext/libmicrohttpd/Mkaefile.in
/libext/libmicrohttpd/configure

#
# exclude enerated files from user apps
#
/user/iproute2/ip/static-syms.h
/user/iproute2/tc/static-syms.h
/user/busybox/*/Config.in
/user/busybox/docs/busybox.net/BusyBox.html
/user/busybox/include/bbconfigopts_bz2.h
/user/busybox/include/NUM_APPLETS.h
/user/dropbear/Makefile
/user/dropbear/configure
/user/ntfs-3g/Makefile
/user/ntfs-3g/configure
/user/ntfs-3g/src/Makefile
/user/ntfs-3g/src/Makefile.in
/user/ntfs-3g/ntfsprogs/Makefile
/user/ntfs-3g/libntfs-3g/Makefile
/user/ntfs-3g/libfuse-lite/Makefile
/user/ntfs-3g/include/Makefile
/user/ntfs-3g/include/ntfs-3g/Makefile
/user/ntfs-3g/include/fuse-lite/Makefile
/user/ntfs-3g/src/ntfs-3g.8
/user/ntfs-3g/src/ntfs-3g.probe.8
/user/ppp/chat/Makefile
/user/ppp/Makefile
/user/ppp/*/Makefile
/user/ppp/pppd/Makefile
/user/ppp/pppd/plugins/Makefile
/user/ppp/pppd/plugins/*/Makefile
/user/ppp/pppd/plugins/pppoatm/Makefile
/user/ppp/pppd/plugins/pppol2tp/Makefile
/user/ppp/pppd/plugins/pptp/Makefile
/user/ppp/pppd/plugins/radius/Makefile
/user/ppp/pppd/plugins/rp-pppoe/Makefile
/user/ppp/pppstats/Makefile
/user/radvd/config.h
/user/radvd/configure
/user/radvd/device.c
/user/radvd/Makefile.in
/user/radvd/scanner.c
/user/radvd/Makefile
/user/radvd/redhat/radvd.spec
/user/davfs/Makefile
/user/davfs/Makefile.in
/user/davfs/configure
/user/davfs/config.h.in
/user/davfs/etc/Makefile
/user/davfs/etc/Makefile.in
/user/davfs/man/Makefile
/user/davfs/man/Makefile.in
/user/davfs/man/de/Makefile
/user/davfs/man/de/Makefile.in
/user/davfs/man/es/Makefile
/user/davfs/man/es/Makefile.in
/user/davfs/po/Makefile
/user/davfs/po/Makefile.in
/user/davfs/src/Makefile
/user/davfs/src/Makefile.in
/user/davfs/config/config.sub
/user/davfs/config/config.guess
/user/davfs/config/missing
/user/transmission/libtool
/user/transmission/web/Makefile
/user/transmission/web/images/Makefile
/user/transmission/web/javascript/Makefile
/user/transmission/web/javascript/jquery/Makefile
/user/transmission/web/style/Makefile
/user/transmission/web/style/jqueryui/Makefile
/user/transmission/web/style/jqueryui/images/Makefile
/user/transmission/web/style/transmission/Makefile
/user/transmission/web/style/transmission/images/Makefile
/user/transmission/web/style/transmission/images/buttons/Makefile
/user/transmission/web/Makefile
/user/transmission/macosx/Makefile
/user/transmission/gtk/Makefile
/user/transmission/gtk/icons/Makefile
/user/transmission/Makefile
/user/transmission/Makefile.in
/user/transmission/configure
/user/quagga/doc/Makefile
/user/quagga/doc/Makefile.in
/user/quagga/doc/.am*
/user/quagga/doc/quagga.info
/user/quagga/doc/quagga.info-1
/user/quagga/doc/quagga.info-2
/user/quagga/solaris/Makefile
/user/quagga/tests/Makefile
/user/quagga/tests/test-commands-defun.c
/user/quagga/tests/bgpd.tests/Makefile
/user/quagga/tests/libzebra.tests/Makefile
/user/quagga/configure
/user/quagga/Makefile
/user/quagga/Makefile.in
/user/quagga/bgpd/Makefile
/user/quagga/bgpd/Makefile.in
/user/quagga/ospf6d/Makefile
/user/quagga/ospf6d/Makefile.in
/user/quagga/ospfd/Makefile
/user/quagga/ospfd/Makefile.in
/user/quagga/ripngd/Makefile
/user/quagga/ripngd/Makefile.in
/user/quagga/vtysh/Makefile
/user/quagga/vtysh/Makefile.in
/user/quagga/babeld/Makefile
/user/quagga/babeld/Makefile.in
/user/quagga/config.h
/user/quagga/isisd/Makefile
/user/quagga/isisd/Makefile.in
/user/quagga/isisd/topology/Makefile
/user/quagga/isisd/topology/Makefile.in
/user/quagga/lib/Makefile
/user/quagga/lib/Makefile.in
/user/quagga/lib/version.h
/user/quagga/m4/Makefile
/user/quagga/m4/Makefile.in
/user/quagga/ospfclient/Makefile
/user/quagga/ospfclient/Makefile.in
/user/quagga/pkgsrc/Makefile
/user/quagga/pkgsrc/Makefile.in
/user/quagga/pkgsrc/bgpd.sh
/user/quagga/pkgsrc/ospf6d.sh
/user/quagga/pkgsrc/ospfd.sh
/user/quagga/pkgsrc/ripd.sh
/user/quagga/pkgsrc/ripngd.sh
/user/quagga/pkgsrc/zebra.sh
/user/quagga/redhat/Makefile
/user/quagga/redhat/Makefile.in
/user/quagga/redhat/quagga.spec
/user/quagga/ripd/Makefile
/user/quagga/ripd/Makefile.in
/user/quagga/ripd/ripd
/user/quagga/vtysh/extract.pl
/user/quagga/watchquagga/Makefile
/user/quagga/watchquagga/watchquagga
/user/quagga/zebra/Makefile
/user/quagga/zebra/Makefile.in
/user/quagga/zebra/testzebra
/user/quagga/zebra/zebra
/user/quagga/doc/defines.texi
/user/quagga/pimd/Makefile
/user/quagga/vtysh/vtysh_cmd.c
/user/tcpdump/Makefile
/user/tcpdump/Mkaefile.in
/user/tcpdump/configure
/user/miniupnp/config.h
/user/miniupnp/tmp.config.h.*
/user/dhcp6/wide-dhcpv6/configure
/user/dhcp6/wide-dhcpv6/Makefile
/user/udpxy/udpxy.dep
/user/irqbalance/configure
/user/irqbalance/Makefile
/user/irqbalance/Makefile.in
/user/chillispot/coova-chilli-master/Makefile.in
/user/chillispot/coova-chilli-master/configure
/user/chillispot/coova-chilli-master/debian/Makefile
/user/chillispot/coova-chilli-master/distro/Makefile
/user/chillispot/coova-chilli-master/doc/Makefile
/user/lldpd/osx/Makefile
/user/lldpd/tests/Makefile
/user/netcwmp/tests/src/Makefile
/user/ethtool/ethtool-config.h.in~
/user/strace/Makefile
/user/strace/Mkaefile.in
/user/strace/configure
/user/freeradius/Makefile
/user/freeradius/Make.inc
/user/freeradius/configure

#
# exclude enerated files from kernel
#
/linux/*
/linux-3.4.x/include/linux/autoconf.h
/linux-3.4.x/include/linux/utsrelease.h
/linux-3.4.x/arch/mips/kernel/vmlinux.lds
/linux-3.4.x/include/asm-mips/asm-offsets.h
/linux-3.4.x/include/linux/compile.h

#
# exclude enerated files from tools
#
/tools/xz/libext/Makefile.in
/tools/xz/lib/Makefile.in
/tools/xz/Doxyfile
/tools/xz/Makefile
/tools/xz/config.h
/tools/xz/debug/Makefile
/tools/xz/lib/Makefile
/tools/xz/po/Makefile
/tools/xz/po/Makefile.in
/tools/xz/po/POTFILES
/tools/xz/src/Makefile
/tools/xz/src/liblzma/Makefile
/tools/xz/src/liblzma/api/Makefile
/tools/xz/src/lzmainfo/Makefile
/tools/xz/src/lzmainfo/lzmainfo
/tools/xz/src/scripts/Makefile
/tools/xz/src/scripts/xzdiff
/tools/xz/src/scripts/xzgrep
/tools/xz/src/scripts/xzless
/tools/xz/src/scripts/xzmore
/tools/xz/src/xz/Makefile
/tools/xz/src/xz/xz
/tools/xz/src/xzdec/Makefile
/tools/xz/src/xzdec/lzmadec
/tools/xz/src/xzdec/xzdec
/tools/xz/tests/Makefile
/tools/xz/configure

#
# prevent upload ATE in git
#
/user/rt2880_app/ated/*
/linux-3.4.x/drivers/net/wireless/ralink/rt3xxx/rt2860v2/ate
/linux-3.4.x/drivers/net/wireless/ralink/rtpci/mt7610/ate
/linux-3.4.x/drivers/net/wireless/ralink/rtpci/mt76x2/ate
/linux-3.4.x/drivers/net/wireless/ralink/rtpci/mt76x3/ate

#
# exclude toolchain
#
!/toolchain
