/****** Controls ******/
select
{
	font-size: 13px;
}

select.mid
{
	width: 196px;
}

select.half
{
	width: 100px;
}

select.normal
{
	width: 160px;
}

select.wide
{
	width: 256px;
}

select.short
{
	width: 48px;
}

input.mid
{
	width: 192px;
}

input.normal
{
	width: 156px;
}

input.wide
{
	width: 256px;
}
input.superwide
{
	width: 400px;
}
input.half
{
	width: 94px;
}
input.short_qos
{
	width: 64px;
}
input.short
{
	width: 48px;
}

input.pfShort
{
	width: 40px;
}

input.pfNormal
{
	width: 100px;
}

input.small
{
	width: 36px;
}

input.xsmall
{
	width: 24px;
}

span.radio
{
	width: 96px;
	display: inline-block;
}
