menu "Ralink Module"

###########
# Nvram
###########
source "drivers/char/ranvram/Kconfig"

###########
# Debuging
###########
source "drivers/net/rt_rdm/Kconfig"

#############
# Wired
#############
menu "Ralink Wired Ethernet Driver"
source "drivers/net/raeth/Kconfig"
endmenu

#############
# Wireless
#############
menu "Ralink Wireless 802.11 Support"

comment "1st Wireless Interface"

choice
	prompt "Choose 1st Wireless Interface"
	config RT_FIRST_IF_NONE
	bool "None"

	config RT_FIRST_IF_RT2860
	bool "RT2860v2 APSoC (RTMP driver 2.7.x.x)"
	depends on (RALINK_RT3052 || RALINK_RT3352 || RALINK_RT5350 || RALINK_RT3883 || RALINK_MT7620)

	config RT_FIRST_IF_MT7620
	bool "MT7620 APSoC (RLT driver 3.0.x.x)"
	depends on RALINK_MT7620

	config RT_FIRST_IF_MT7628
	bool "MT7628 APSoC (MT driver 4.0.x.x)"
	depends on RALINK_MT7628

	config RT_FIRST_IF_MT7610E
	bool "MT7610E PCIe"
	depends on RALINK_MT7621

	config RT_FIRST_IF_MT7612E
	bool "MT7612E PCIe"
	depends on RALINK_MT7621

	config RT_FIRST_IF_MT7602E
	bool "MT7602E PCIe"
	depends on RALINK_MT7621
endchoice

choice
	prompt "Range of 1st Wireless Interface"
	depends on !RT_FIRST_IF_NONE

	config RT_FIRST_IF_RANGE_2GHZ
	bool "2.4 GHz"
	depends on !(RT_FIRST_IF_MT7610E || RT_FIRST_IF_MT7612E)

	config RT_FIRST_IF_RANGE_5GHZ
	bool "5GHz"
	depends on !(RT_FIRST_IF_MT7602E || RT_FIRST_IF_MT7603E || RT_FIRST_IF_MT7620 || RT_FIRST_IF_MT7628)
endchoice

choice
	prompt "EEPROM Type of 1st Wireless Interface"
	depends on !RT_FIRST_IF_NONE

	config RT_FIRST_IF_EEPROM_FLASH
	bool "FLASH partition"

	config RT_FIRST_IF_EEPROM_EFUSE
	bool "eFUSE on-die"
	depends on !(RT_FIRST_IF_RT2860 || RT_FIRST_IF_MT7620)

	config RT_FIRST_IF_EEPROM_PROM
	bool "EEPROM chip"
	depends on !(RT_FIRST_IF_RT2860 || RT_FIRST_IF_MT7620)
endchoice

config  RT_FIRST_IF_RF_OFFSET
	hex "EEPROM FLASH Offset of 1st Wireless Interface"
	depends on RT_FIRST_IF_EEPROM_FLASH
	default 0x40000

config  RT_FIRST_CARD
	int
	default 0    if RT_FIRST_IF_NONE
	default 2860 if RT_FIRST_IF_RT2860
	default 7620 if RT_FIRST_IF_MT7620
	default 7628 if RT_FIRST_IF_MT7628
	default 7610 if RT_FIRST_IF_MT7610E
	default 7612 if RT_FIRST_IF_MT7612E
	default 7602 if RT_FIRST_IF_MT7602E

config RT_FIRST_CARD_EEPROM
	string
	depends on !RT_FIRST_IF_NONE
	default "prom" if RT_FIRST_IF_EEPROM_PROM
	default "efuse" if RT_FIRST_IF_EEPROM_EFUSE
	default "flash" if RT_FIRST_IF_EEPROM_FLASH

comment "2nd Wireless Interface"

choice
	prompt "Choose 2nd Wireless Interface"
	config RT_SECOND_IF_NONE
	bool "None"

	config RT_SECOND_IF_MT7610E
	bool "MT7610E PCIe"

	config RT_SECOND_IF_MT7612E
	bool "MT7612E PCIe"

	config RT_SECOND_IF_MT7602E
	bool "MT7602E PCIe"
endchoice

choice
	prompt "Range of 2nd Wireless Interface"
	depends on !RT_SECOND_IF_NONE

	config RT_SECOND_IF_RANGE_2GHZ
	bool "2.4 GHz"
	depends on !(RT_SECOND_IF_MT7610E)

	config RT_SECOND_IF_RANGE_5GHZ
	bool "5GHz"
	depends on !(RT_SECOND_IF_MT7602E)
endchoice

choice
	prompt "EEPROM Type of 2nd Wireless Interface"
	depends on !(RT_SECOND_IF_NONE || RT_SECOND_IF_RT3352_INIC)

	config RT_SECOND_IF_EEPROM_FLASH
	bool "FLASH partition"

	config RT_SECOND_IF_EEPROM_EFUSE
	bool "eFUSE on-die"

	config RT_SECOND_IF_EEPROM_PROM
	bool "EEPROM chip"
endchoice

config  RT_SECOND_IF_RF_OFFSET
	hex "EEPROM FLASH Offset of 2nd Wireless Interface"
	depends on RT_SECOND_IF_EEPROM_FLASH
	default 0x48000

config  RT_SECOND_CARD
	int
	default 0    if RT_SECOND_IF_NONE
	default 7610 if RT_SECOND_IF_MT7610E
	default 7612 if RT_SECOND_IF_MT7612E
	default 7602 if RT_SECOND_IF_MT7602E

config RT_SECOND_CARD_EEPROM
	string
	depends on !RT_SECOND_IF_NONE
	default "prom" if RT_SECOND_IF_EEPROM_PROM
	default "efuse" if RT_SECOND_IF_EEPROM_EFUSE
	default "flash" if RT_SECOND_IF_EEPROM_FLASH

comment "Wireless drivers settings"
	depends on (!RT_FIRST_IF_NONE || !RT_SECOND_IF_NONE)

choice
	prompt "Power Design for first radio module"
	depends on !RT_FIRST_IF_NONE
	default RT_FIRST_IF_INTERNAL_PA_INTERNAL_LNA
config  RT_FIRST_IF_INTERNAL_PA_INTERNAL_LNA
	bool "Internal PA and Internal LNA"
config  RT_FIRST_IF_INTERNAL_PA_EXTERNAL_LNA
	bool "Internal PA and External LNA"
config  RT_FIRST_IF_EXTERNAL_PA_EXTERNAL_LNA
	bool "External PA and External LNA"
endchoice

choice
	prompt "Power Design for second radio module"
	depends on !RT_SECOND_IF_NONE
	default AP_RT_SECOND_IF_EXTERNAL_PA_EXTERNAL_LNA
config  RT_SECOND_IF_INTERNAL_PA_INTERNAL_LNA
	bool "Internal PA and Internal LNA"
config  RT_SECOND_IF_INTERNAL_PA_EXTERNAL_LNA
	bool "Internal PA and External LNA"
config  RT_SECOND_IF_EXTERNAL_PA_EXTERNAL_LNA
	bool "External PA and External LNA"
endchoice

config BAND_STEERING
	bool "Band Steering"
	depends on !RT_SECOND_IF_NONE
	default n

config MAX_CLIENTS
	int "Maximum wifi clients (32/64/128/256) more clients - more mem and cpu usage."
	depends on !(RT_SECOND_IF_NONE && RT_FIRST_IF_NONE)
	default 32

if (RT_FIRST_IF_RT2860)
menu "AP MODE Ralink APSoC RT3xxx/RT5xxx/MT7620 wireless driver"
source "drivers/net/wireless/ralink/rt3xxx/rt2860v2_ap/Kconfig"
endmenu
menu "Client MODE Ralink APSoC RT3xxx/RT5xxx/MT7620 wireless driver"
source "drivers/net/wireless/ralink/rt3xxx/rt2860v2_sta/Kconfig"
endmenu
endif

if (RT_FIRST_IF_MT7610E || RT_SECOND_IF_MT7610E)
menu "AP MODE MediaTek MT7610E PCIe Wireless Driver"
source "drivers/net/wireless/ralink/rtpci/mt7610_ap/Kconfig"
endmenu
endif

if (RT_FIRST_IF_MT7620 || RT_FIRST_IF_MT7612E || RT_FIRST_IF_MT7602E || RT_SECOND_IF_MT7612E || RT_SECOND_IF_MT7602E)
menu "AP MODE MediaTek MT7620/MT7602E/MT7612E RBUS/PCIe Wireless Driver"
source "drivers/net/wireless/ralink/rtpci/mt76x2_ap/Kconfig"
source "drivers/net/wireless/ralink/rtpci/mt76x2_sta/Kconfig"
endmenu
endif

endmenu

#######
# NAT
#######
menu "NAT acell mode"
choice
	prompt "Ralink Hardware NAT mode"

config RA_NAT_NONE
	bool "Disable NAT acceleration"

config RA_NAT_HW
	bool "Hardware NAT acceleration"
	depends on !(RALINK_RT5350 || RALINK_MT7628)
endchoice

if RA_NAT_HW
source "net/nat/hw_nat/Kconfig"
endif
endmenu

#######
# Fastpath
#######
source "net/nat/bcm_nat/Kconfig"

#######
# DEV
#######
menu "Ralink Devices"
config RT3XXX_EHCI_OHCI
	bool "Ralink USB2 EHCI/OHCI controller support"
	depends on (RALINK_RT3883 || RALINK_RT3352 || RALINK_RT5350 || RALINK_MT7620 || RALINK_MT7628)
	select USB_ARCH_HAS_OHCI
	select USB_ARCH_HAS_EHCI

config MTK_XHCI
	bool "MediaTek USB3/USB2/USB1.1 xHCI controller support"
	depends on (RALINK_MT7621)
	select USB_ARCH_HAS_XHCI
endmenu

endmenu
