<po>
    <message msgid="treeapp router" msgstr="Маршрутизатор" />
    <message msgid="treeapp operation mode" msgstr="Режим работы" />
    <message msgid="treeapp network settings" msgstr="Настройки сети" />
    <message msgid="treeapp wireless settings" msgstr="Настройки радио" />
    <message msgid="treeapp firewall" msgstr="Сетевой экран" />
    <message msgid="treeapp services" msgstr="Сервисы" />
    <message msgid="treeapp usb" msgstr="Настройки USB" />
    <message msgid="treeapp storage" msgstr="Настройки хранилища" />
    <message msgid="treeapp administration" msgstr="Администрирование" />

    <message msgid="treeapp lan" msgstr="Настройки LAN" />
    <message msgid="treeapp wan" msgstr="Настройки WAN" />
    <message msgid="treeapp ipv6" msgstr="Настройки IPv6" />
    <message msgid="treeapp vpn" msgstr="Настройки VPN" />
    <message msgid="treeapp routing" msgstr="Маршрутизация" />
    <message msgid="treeapp hotspot" msgstr="Хот-спот" />
    <message msgid="treeapp qos" msgstr="Качество обслуживания" />

    <message msgid="treeapp profile" msgstr="Профиль" />
    <message msgid="treeapp link status" msgstr="Состояние соединения" />
    <message msgid="treeapp statistics" msgstr="Статистика" />
    <message msgid="treeapp advance" msgstr="Расширеные" />
    <message msgid="treeapp basic" msgstr="Основные" />
    <message msgid="treeapp advanced" msgstr="Расширенные" />
    <message msgid="treeapp security" msgstr="Безопасность" />
    <message msgid="treeapp wds" msgstr="WDS" />
    <message msgid="treeapp ap client" msgstr="Клиент/Репитер" />
    <message msgid="treeapp station list" msgstr="Активные подключения" />

    <message msgid="treeapp alg" msgstr="Шлюз прикладного уровня" />
    <message msgid="treeapp dmz" msgstr="Демилитаризованная зона" />
    <message msgid="treeapp content filtering" msgstr="Фильтрация содержимого" />

    <message msgid="treeapp dhcp server" msgstr="Сервер DHCP" />
    <message msgid="treeapp l2tp server" msgstr="Сервер L2TP" />
    <message msgid="treeapp ntp settings" msgstr="Синхронизация времени" />
    <message msgid="treeapp ddns settings" msgstr="Динамический DNS" />
    <message msgid="treeapp samba" msgstr="Сервер Samba/WINS" />
    <message msgid="treeapp accounting" msgstr="Учёт трафика" />
    <message msgid="treeapp miscellaneous" msgstr="Разное" />

    <message msgid="treeapp printersrv" msgstr="Настройки принтера" />
    <message msgid="treeapp usbmodem" msgstr="USB модем" />

    <message msgid="treeapp disk" msgstr="Управление дисками" />
    <message msgid="treeapp ftpsrv" msgstr="Сервер FTP" />
    <message msgid="treeapp transmission" msgstr="Клиент торрент" />
    <message msgid="treeapp sambasrv" msgstr="Сервер SAMBA" />

    <message msgid="treeapp management" msgstr="Управление" />
    <message msgid="treeapp status" msgstr="Статус" />
    <message msgid="treeapp system log" msgstr="Системный журнал" />
    <message msgid="treeapp sdk history" msgstr="История версий" />
    <message msgid="treeapp reboot" msgstr="Сохранить и перезагрузить" />
    <message msgid="treeapp reboot confirm" msgstr="Вы действительно хотите перезагрузить маршрутизатор?" />
</po>
