config MT7615_AP
	tristate "Mediatek MT7615 802.11ac AP support"
	select WIRELESS_EXT
	select WEXT_SPY
	select WEXT_PRIV

config MT7615_AP_WDS
	bool "WDS"
	depends on MT7615_AP
	default y

config MT7615_AP_MBSS
	bool "MBSSID"
	depends on MT7615_AP
	default y

config MT7615_AP_NEW_MBSSID_MODE
	bool "New MBSSID MODE"
	depends on MT7615_AP && MT7615_AP_MBSS
	default y

config MT7615_AP_ENHANCE_NEW_MBSSID_MODE
	bool "Enhanced MBSSID mode"
	depends on MT7615_AP_NEW_MBSSID_MODE
	default y

config MT7615_AP_APCLI
	bool "AP-Client Support"
	depends on MT7615_AP
	default y

#config MT7615_AP_APCLI_CERT_SUPPORT
#        bool "AP-Client TGn Cert Support"
#	depends on MT7615_AP
#        depends on MT7615_AP_APCLI
#        default n

#config MT7615_AP_MAC_REPEATER_SUPPORT
#	bool "MAC Repeater Support"
#	depends on MT7615_AP
#	depends on MT7615_AP_APCLI
#	default n

#config MT7615_AP_MWDS
#    bool "Mixed WDS(MWDS)"
#    depends on MT7615_AP
#    select MT7615_AP_APCLI
#    default n

#config  MT7615_AP_AIRPLAY
#	bool "AirPlay support"
#	depends on MT7615_AP
#	depends on MT7615_AP_APCLI
#	default n

config MT7615_AP_MUMIMO_SUPPORT
        bool "MU-MIMO Support"
        select MT7615_AP_MU_RA_SUPPORT
        default y

config MT7615_AP_MU_RA_SUPPORT
  	bool "MU-RGA Support"
  	depends on MT7615_AP_MUMIMO_SUPPORT
        default y

#config  MT7615_AP_DFS
#	bool "DFS support"
#	depends on MT7615_AP
#	default n

config  MT7615_AP_CARRIER
	bool "Carrier Detection support"
	depends on MT7615_AP
	default n

config  MT7615_AP_SMART_CARRIER_SENSE
	bool "Smart Carrier Sense support"
	depends on MT7615_AP
	default y

config  MT7615_AP_IDS
	bool "IDS (Intrusion Detection System) support"
	depends on MT7615_AP
	default y

config MT7615_AP_DOT11R_FT_SUPPORT
	bool "802.11r Fast BSS Transition"
	depends on MT7615_AP
	default y

config MT7615_AP_DOT11K_RRM_SUPPORT
	bool "802.11k Radio Resource Management"
	depends on MT7615_AP
	default y

config  MT7615_AP_EXT_CHANNEL_LIST
	bool "Extension Channel List 802.11d compat"
	depends on MT7615_AP
	default y

config MT7615_AP_80211N_DRAFT3
	bool "802.11n Draft3 (BSS Coexistence)"
	depends on MT7615_AP
	default n

config MT7615_AP_80211W_PMF
	bool "802.11w Protected Management Frames (PMF) support"
	depends on MT7615_AP
	default y

#config MT7615_AP_SNIFFER_SUPPORT
#	bool "SNIFFER"
#	depends on MT7615_AP
#	default n

#config MT7615_AP_CUSTOMIZED_HOSTAPD
#	bool "Customized Hostapd Support"
#	depends on MT7615_AP_CFG80211_SUPPORT
#	default n

#config MT7615_AP_DSCP_QOS_MAP_SUPPORT
#	bool "Dscp Qos Mapping Support"
#	depends on MT7615_AP
#	default n

config MT7615_AP_TXBF_SUPPORT
        bool "Tx Bean Forming Support"
	depends on MT7615_AP
        default y

config MT7615_AP_LLTD
	bool "LLTD (Link Layer Topology Discovery Protocol)"
	depends on MT7615_AP

config  MT7615_AP_SNMP
	bool "Net-SNMP Support"
	depends on MT7615_AP

config MT7615_AP_IGMP_SNOOP
	bool "IGMP snooping (M2U in wireless driver)"
	depends on MT7615_AP
	default n

config MT7615_AP_MCAST_RATE_SPECIFIC
	bool "User specific tx rate of mcast pkt"
	depends on MT7615_AP
	default y

config MT7615_AP_EXT_BUILD_CHANNEL_LIST
	bool "Extension Channel List"
	depends on MT7615_AP
	default y

config MT7615_AP_AUTO_CH_SELECT_ENHANCE
	bool "Auto Channel Selection Enhancement"
	depends on MT7615_AP
	default y

#config MT7615_AP_VOW_SUPPORT
#	bool "MediaAir(VOW) support"
#	depends on MT7615_AP
#	default y

#config MT7615_AP_AIRPLAY_SUPPORT
#	bool "AIRPLAY Support"
#	depends on MT7615_AP
#	default n

#config MT7615_AP_RADIO_LINK_SELECTION
#        bool "RADIO_LINK_SELECTION"
#        depends on MT7615_AP
#        default n

config MT7615_AP_LED_CONTROL_SUPPORT
        bool "LED Control Support"
        default y

config MT7615_AP_GPIO_CONTROL_SUPPORT
	bool "GPIO Control Support"
	depends on MT7615_AP
	default n

config MT7615_AP_RADIUS_ACCOUNTING_SUPPORT
	bool "Radius Accounting Support"
	depends on MT7615_AP
	default y

#config MT7615_AP_ROAMING_ENHANCE_SUPPORT
#	bool "Roaming Enhance Support"
#	depends on MT7615_AP
#	depends on APCLI_SUPPORT
#	default n

#config MT7615_AP_EASY_SETUP_SUPPORT
#	bool "Whole Home Coverage - Easy Setup"
#	depends on MT7615_AP
#	default n

#config MT7615_AP_EASY_MODULE_SUPPORT
#	bool "Whole Home Coverage - Easy Setup Module Support"
#	depends on EASY_SETUP_SUPPORT
#	default n

#config MT7615_AP_EVENT_NOTIFIER_SUPPORT
#	bool "Whole Home Coverage - Event Notifier"
#	depends on MT7615_AP
#	default n

config MT7615_AP_AIR_MONITOR
        bool "Air Monitor"
        depends on MT7615_AP
        default n

config MT7615_AP_WNM_SUPPORT
        bool "802.11v WNM Support"
        depends on MT7615_AP
        default n

config MT7615_AP_STA_FORCE_ROAM_SUPPORT
        bool "Station Force Roam Support"
        depends on MT7615_AP
        default n

config MT7615_AP_NETIF_BLOCK
	bool "NETIF Block"
	depends on MT7615_AP
	default n
	help
	  Support Net interface block while Tx-Sw queue full

#config MT7615_AP_VIDEO_TURBINE
#	bool "Video Turbine support"
#	depends on MT7615_AP
#	default n

config MT7615_AP_LINUX_NET_TXQ_SUPPORT
	bool "NET TX Queue Support"
	default y

config MT7615_AP_DEBUG
	bool "Include Debug messages"
	depends on MT7615_AP
	default n
